@font-face 
{
	font-family: Roboto-Thin;
	src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face 
{
	font-family: Roboto-Regular;
	src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face 
{
	font-family: Shrikhand-Regular;
	src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
}

body
{
    margin: 0;
    font-family: 'Roboto-Thin', sans-serif;
}
.loadingPage
{
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 250%;
    text-align: center;
    animation: loading 1s ease-in-out 1.5s reverse both;
    pointer-events: none;
    z-index: 1000;
}
@keyframes loading
{
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}
.loader 
{
    border-left:15px solid lightgrey;
    border-top: 15px solid#9356DC;
    border-right: 15px solid #FF79DA;
    border-bottom: 15px solid #99E2D0;
    width: 100px;
    height: 100px;
    margin: 200px auto;
    border-radius: 50%;
    text-align: center;
    animation: spin 1.5s linear;
    pointer-events: none;
}
@keyframes spin 
{
    100% { 
        transform: rotate(0deg);
        }
    0% { 
        transform: rotate(360deg);
        }
}
header
{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #A6ACAF;
}
.location
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgrey;
    padding: 15px 0;
}
.locationIcon
{
    color: #464749;
}
form
{
    display: flex;
    justify-content: center;
}
::placeholder
{
    color: #464749;
    font-family: 'Roboto-Regular';
    font-size: 15px;
}
input[type="text"]
{
    padding: 0;
    border: none;
    background-color: lightgrey;
    text-align: center;
}
.intro
{
    background-color: #F2F3F4;
    padding: 30px 0 30px 0;
}
h1
{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom:15px;
    font-family: 'Roboto-Regular', sans-serif;
    margin-right: 15%;
    margin-left: 15%;
}
.intro > p
{
    margin: 0;
    text-align: center; 
    padding-bottom: 20px;
}
.exploreBtn
{
    color: white;
    font-family: 'Roboto-Regular';
    text-decoration: none;
    background: linear-gradient(to bottom right,rgb(255, 121, 218), rgb(147, 86, 220));
    padding: 15px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 0px 10px 10px rgba(150, 148, 148, 0.5);
}
.exploreBtn:hover
{
    background: linear-gradient(to bottom right,rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
    box-shadow: 0px 10px 10px rgba(150, 148, 148, 1);
}
.instructions
{
    margin-bottom: 50px;
    font-family: 'Roboto-Regular';
}
h2
{
    padding: 30px 0 0 20px;
    font-weight: bold;
    font-family: 'Roboto-Regular';

}
.instructionsTab
{
    display: flex;
    flex-direction: row;
    background-color: #F2F3F4;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #C0C0C0;
    padding: 25px 35px;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    transition: 0.5s;
}
.instructionsTab:hover
{
    background-color: #EBDEF0;
}
.instructionsNumber
{
    color: white;
    background-color:#9356DC;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 90%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transform: translateX(-45px);
}
.instructionsIcon
{
    color: gray;
    font-size: 20px;
    padding-right: 20px;
}
.instructionsTab:hover .instructionsIcon
{
    color: #9356DC;
}
.instructionsText
{
    font-weight: bold;
    width: 180px;
}
#restaurants
{
    background-color: #F2F3F4;
}
.restaurantCard
{
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
.restaurantPic
{
    background-color: white;
    width: 320px;
    border-radius:20px;
    box-shadow: 0px 10px 10px #C0C0C0;
    position: relative;
}
.restaurantPic img
{

    width: 320px;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.newTag
{
    position: absolute;
    background-color: #99E2D0;
    border-radius: 2px;
    color: #19AE58;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    top: 5%;
    right: 5%;
    font-family: 'Roboto-Regular';
}
.restaurantCaption h3
{
    margin: 0;
    padding: 10px 0 5px 10px;
    font-family: 'Roboto-Regular';
}
.restaurantText
{
    margin: 0;
    padding: 0 0 10px 10px;
}
.restaurantCaption
{
    width: 80%;
}
.captionText
{
    display: flex;
    flex-direction: row;
}
.heartIcon
{
    width: 20%;
    height: 66px;
    font-size: 25px;
    position: relative;
}
.heartAnim1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    cursor: pointer;
    color: black;
    -webkit-text-stroke: 1px white;
}
.heartAnim2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2;
    cursor: pointer;
    opacity: 0;
    transition: 500ms;
    color: white;
}
.heartAnim2:hover 
{
    opacity:1;
    background: -webkit-linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
}
.heartAnim2:hover .heartAnim1
{
    color: white;
}
footer
{
    background-color: #424949;
    color: white;
    padding-bottom: 30px;
}
.footerLogo
{
    color: white;
    font-family: 'shrikhand';
    padding: 20px;
}
.footerText
{
    display: flex;
    padding: 0 0 5px 20px;
    font-family: 'Roboto-Regular';
}
.footerText a
{
    text-decoration: none;
    color: white;
}
.footer1
{
    padding-left: 5px;
}
.footerIcon
{
    width: 25px;
}
