@font-face 
{
	font-family: Roboto-Thin;
	src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face 
{
	font-family: Shrikhand-Regular;
	src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
}

body
{
    margin: 0;
    font-family: 'Roboto-Thin', sans-serif;
}
header
{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.arrowIcon
{
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 9px 0 9px 0;
    text-decoration: none;
    color: black;
}
.logo
{
    width: 85%;
    display: flex;
    justify-content: center;
}
.picture
{
    position: absolute;
    z-index: -1;
    top: 10%;
}
.picture img
{
    width: 100%;
    object-fit: cover;
}
main
{
    width: 100%;
}
section
{
    background-color: #F2F3F4;
    width: 100%;
    padding-bottom: 40px;
    z-index: 1;
    margin-top: 50%;
    border-radius: 20px 20px 0 0;
}
.title
{
    display: flex;
    padding: 30px 0 30px 0px;
    background-color: #F2F3F4;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.title h1
{
    display: flex;
    width: 80%;
    margin: 0;
    font-family: 'shrikhand';
    padding-left: 10px;
}
.heartIcon
{
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 25px;
}
h2
{
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 15px;
}
.greenLine
{
    background-color: #99E2D0;
    height: 2px;
    width: 35px;
    margin-left: 10px;
}
.menuTab
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #C0C0C0;
    margin: 10px;
    display: flex;
}
.menuTab:hover p
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
}
.menuTab:hover .menuPrice
{
    animation: move 0.5s ease both;
    margin-right: 20%;
}
@keyframes move
{
from {
    margin-right: 0%;
    }
to {
    margin-right: 20%;
    }
}
.menuTab:hover .check
{
    width: 60px;
    height: 61px;
    display: flex;
    align-self: center;
    border-radius: 0 20px 20px 0;
    background-color: #99e2d0;
    animation: slideInRight 0.5s;
    position: absolute;
    display: block;
    right: 2%;
}
@keyframes slideInRight
{
0% {
    transform: translateX(0%);
    }
100% {
    transform: translateX(-100%);
    }
}
.menuText
{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 10px;
}
.menuText h3
{
    margin: 0;
    font-size: 15px;
    padding-bottom: 5px;
    font-family: 'Roboto-Regular';
}
.menuText p
{
    margin: 0;
    font-size: 15px;
}
.menuPrice
{
    font-weight: bold;
    display: flex;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto-Regular';
    align-self: flex-end;
}
.check
{
    display: none;
}
.check i
{
    color: #99e2d0;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    margin: 20px;
}
.menuTab:hover .check i
{
    animation: rotate 0.5s;
}
@keyframes rotate
{
from {
    transform: rotate(0deg);
    }
to {
    transform: rotate(360deg);
    }
}
.menuStructure
{
    padding-bottom: 30px;
}
.menu .menuStructure
{
animation: fadeIn 1s ease-in both;
}
.menu .menuStructure:nth-child(2)
{
    animation-delay: 1s;
}
.menu .menuStructure:nth-child(3)
{
    animation-delay: 2s;
}
.menu .menuStructure:nth-child(4)
{
    animation-delay: 3s;
}
@keyframes fadeIn 
{
from {
	opacity: 0;
	transform: translate3d(0, -20%, 0);
	}
to {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	}
}
.orderBtn
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto-Regular';
    background: linear-gradient(to bottom right,rgb(255, 121, 218), rgb(147, 86, 220));
    padding: 15px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 0px 10px 10px rgba(150, 148, 148, 0.5);
}
.orderBtn:hover
{
    box-shadow: 0px 10px 10px rgba(150, 148, 148, 1);
    background: linear-gradient(to bottom right,rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}
footer
{
    background-color: #424949;
    color: white;
    padding-bottom: 30px;
}
.footerLogo
{
    color: white;
    font-family: 'shrikhand';
    padding: 20px;
}
.footerText
{
    display: flex;
    padding: 0 0 5px 20px;
}
.footerText a
{
    text-decoration: none;
    color: white;
}
.footer1
{
    padding-left: 5px;
}
.footerIcon
{
    width: 25px;
}