@font-face 
{
	font-family: Roboto-Thin
	src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face 
{
	font-family: Shrikhand-Regular
	src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
}

body
{
    margin: 0;
    font-family: 'Roboto-Thin', sans-serif;
}
header
{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.arrowIcon
{
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 9px 0 9px 0;
}
.logo
{
    width: 85%;
    display: flex;
    justify-content: center;
}
.picture
{
    position: relative;
}
.picture img
{
    width: 100%;
    object-fit: cover;
}
main
{
    width: 100%;
}
section
{
    background-color: #F2F3F4;
    width: 100%;
    padding-bottom: 40px;
}
.title
{
    display: flex;
    padding: 30px 0 30px 0px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    background-color: #F2F3F4;
    top: 43%;
    width: 100%;
}
.title h1
{
    display: flex;
    width: 80%;
    margin: 0;
    font-family: 'shrikhand';
    padding-left: 10px;
}
.heartIcon
{
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 25px;
}
h2
{
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 15px;
}
h2 span
{
    border-bottom: 1px solid #99E2D0;
}
.starters h2
{
    padding-top: 50px;
}
.menuTab
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #C0C0C0;
    margin: 10px;
    display: flex;
}
.menuText
{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}
.menuText h3
{
    margin: 0;
    font-size: 15px;
}
.menuText p
{
    margin: 0;
    font-size: 15px;
}
.menuPrice
{
    font-weight: bold;
    display: flex;
    width: 20%;
    justify-content: center;
    padding: 12px 0 13px 0;
    font-size: 15px;
}
.starters
{
    padding-bottom: 30px;
}
.mainCourses
{
    padding-bottom: 30px;
}
.desserts
{
    padding-bottom: 30px;
}
.orderBtn
{
    padding: 10px;
    border-radius: 20px;
    background-color: #FF79DA;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 0px 10px 10px #C0C0C0;
}
footer
{
    background-color: #424949;
    color: white;
    padding-bottom: 30px;
}
.footerLogo
{
    color: white;
    font-family: 'shrikhand';
    padding: 20px;
}
.footerText
{
    display: flex;
    padding: 0 0 5px 20px;
}
.footer1
{
    padding-left: 5px;
}
.footerIcon
{
    width: 25px;
}